<div id="tab1" class="mtab_content" style="margin-bottom: 5%">
	<br />
	<table class="pure-table admin-long-table">
		<thead>
			<tr style="text-align:center">
				<th>Name</th>
				<th>Location</th>
				<th>Postal Code</th>
				<th>Contact</th>
				<th>theatre</th>
				<th>Operations</th>
			</tr>
		</thead>

		<tbody>

		<%
		if (all_theatre.length === 0) {
			%>
			<td colspan="6" style="text-align:center">No record found</td>
		<%}

		for (i = 0; i < all_theatre.length; i ++) {
			if (i % 2 === 0) { %>
				<tr class="pure-table-odd">
					<td><%= all_theatre[i].name  %></td>
					<td><%= all_theatre[i].location %></td>
					<td><%= all_theatre[i].postal_code %></td>
					<td><%= all_theatre[i].contact %></td>
					<td><%= all_theatre[i].operator %></td>
					<td>
						<span id="add-show">
						<a class="pure-button" href="#">Update</a>
						<a class="pure-button button-error" href="/admin/theatre/delete_theatre?<%=all_theatre[i].theatre_id%>">Delete</a>
					</td>
				</tr>
			<% } else { %>
				<tr>
					<td><%= all_theatre[i].name  %></td>
					<td><%= all_theatre[i].location %></td>
					<td><%= all_theatre[i].postal_code %></td>
					<td><%= all_theatre[i].contact %></td>
					<td><%= all_theatre[i].operator %></td>
					<td>
						<span id="add-show">
						<a class="pure-button" href="#">Update</a>
						<a class="pure-button button-error" href="/admin/theatre/delete_theatre?<%=all_theatre[i].theatre_id%>">Delete</a>
					</td>
				</tr>
			<%}%>
		<% } %>
		</tbody>
	</table>
</div>

