<%= include admin-header.ejs %>
<%= include ../index/index-marquee-top.ejs %>
<%= include admin-middle.ejs %>
<%= include ../index/index-marquee-bottom.ejs %>
   <div class="icon-section">
        <span><a href="/admin/movie"><img src="img/icon/icon-movie.png"></a></span>
        <span><a href="/admin/director"><img src="img/icon/icon-movie.png"></a></span>
        <span><a href="/admin/actor"><img src="img/icon/icon-movie.png"></a></span>
        <span><a href="/admin/cinema_operator"><img src="img/icon/icon-movie.png"></a></span>
        <span><a href="/admin/theatre"><img src="img/icon/icon-movie.png"></a></span>
    </div>
<%= include admin-footer.ejs %>