<div id="tab1" class="mtab_content" style="margin-bottom: 5%">
	<br />
	<table class="pure-table admin-short-table">
		<thead>
			<tr style="text-align:center">
				<th>Name</th>
				<th>Country</th>
				<th>Operations</th>
			</tr>
		</thead>

		<tbody>

		<%
		if (all_operator.length === 0) {
			%>
			<td colspan="3" style="text-align:center">No record found</td>
		<%}
		console.log(all_operator);
		for (i = 0; i < all_operator.length; i ++) {
			if (i % 2 === 0) { %>
				<tr class="pure-table-odd">
					<td><%= all_operator[i].operator_name  %></td>
					<td><%= all_operator[i].country %></td>
					<td>
						<span id="add-show">
						<a class="pure-button" href="#">Update</a>
						<a class="pure-button button-error" href="/admin/operator/delete_operator?<%=all_operator[i].operator_id%>">Delete</a>
					</td>
				</tr>
			<% } else { %>
				<tr>
					<td><%= all_operator[i].operator_name  %></td>
					<td><%= all_operator[i].country %></td>
					<td>
						<span id="add-show">
						<a class="pure-button" href="#">Update</a>
						<a class="pure-button button-error" href="/admin/operator/delete_operator?<%=all_operator[i].operator_id%>">Delete</a>
					</td>
				</tr>
			<%}%>
		<% } %>
		</tbody>
	</table>
</div>

