<%= include admin-header.ejs %>
<% if ((user === undefined) || (!user.is_admin)) { %>
	<%= include ../index/index-marquee-top.ejs %>
	<%= include admin-invalid-middle.ejs %>
	<%= include ../index/index-marquee-bottom.ejs %>
<% } else { %> 
	<%= include ../index/index-marquee-top.ejs %>
	<%= include admin-middle.ejs %>
	<%= include ../index/index-marquee-bottom.ejs %>
	   <div class="icon-section">
	        <span><a href="/admin/movie"><img src="img/icon/icon-movie.png"></a></span>
	        <span><a href="/admin/operator"><img src="img/icon/icon-operator.png"></a></span>
	        <span><a href="/admin/theatre"><img src="img/icon/icon-theater.png"></a></span>
	        <span><a href="/admin/ticket"><img src="img/icon/icon-ticket.png"></a></span>
	    </div>
<% } %>
</div>

<%= include render_html %>
<%= include admin-footer.ejs %>