<%= include header.ejs %>
<div class="content-wrapper-form">
    <div class="content">
        <form action="/profile/edit" method="POST" class="pure-form pure-form-single" id="profile-edit">
            <fieldset>
            <div class="profile-edit-display">
            	<br></br>
              <p class="profile-form-header">Hey <%= user.name + '!!!' %></p>
                <% 
                    if (user.contact === null) { 
                      %><input class="profile-edit-input" name="contact" type="text" placeholder="User Contact"><% 
                    } else {
                      %><input class="profile-edit-input" name="contact" type="text" placeholder=<%=user.contact%> value=<%=user.contact%>><%
                    }%>
          
        		<% 
               	if (user.DOB === null) { 
            		%>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script>
  $(function() {
    
    $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'yy-mm-dd',
            dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            yearRange: "-100:+0"});
  });
  </script>

<input name="dob" type="text" id="datepicker" placeholder="User Birthday">

<%
        		} else {
           			%><%
        		} %>
            <input name="email" type="hidden" value=<%=user.email%>>
        	</div><br></br>

        	<button type="submit" class="pure-button pure-button-primary" style="text-decoration : none; color : #000000;">Edit Profile</a></button>
                
            </fieldset>
        </form>

    </div>
</div>
<%= include footer.ejs %>