<%= include ../header.ejs %>
<%= include index-marquee-top.ejs %>
<%= include index-marquee-middle.ejs %>
<%= include index-marquee-bottom.ejs %>



<% if (user !== undefined) {  %>
<div class="icon-section">
<% console.log(user); if (user.is_admin) { %>
    <span><a href="/admin"><img src="img/icon/icon-admin.png"></a></span>
<% } %>
<span><a href="/movie"><img src="img/icon/icon-movie.png"></a></span>
<span><a href="/"><img src="img/icon/icon-ranking.png"></a></span>
<span><a href="/"><img src="img/icon/icon-trailer.png"></a></span>
<span><a href="/profile"><img src="img/icon/icon-profile.png"></a></span>
<span><a href="/"><img src="img/icon/icon-contact.png"></a></span>
</div>
<% } %> 

</div>

<%= include render_html %>

<%= include ../footer.ejs %>
