<% if(movie_result.length < 2){ %>
<script>
//Automatically scroll to bottom
$(function () {
         $("html, body").animate({ scrollTop:  $(document).height()-$(window).height() }, 1800);
         return false; 
});
</script> <% } else{ %>   
<script>
//Automatically scroll to bottom
$(function () {
         $("html, body").animate({ scrollTop:  $(document).height()-800 }, 1800);
         return false; 
});
</script> <% } %>
<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Movies Found</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <!--  <% console.log(movie_result); %> -->
            <style>
            .div-inline{ display:inline-block;} 
            </style>
                <% for(i=0;i<movie_result.length;i++){ %>
                <div class="div-inline">
                <img src="<%= movie_result[i].poster_link %>" width=120 height=170>&nbsp&nbsp&nbsp</div><div class="div-inline">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    <h style="color: black"><%= i+1 %>.</h>
                    <%= movie_result[i].title  %><h style="color: red">&nbsp&nbsp&nbsp<%=movie_result[i].IMDB_rating %><h>
                </h3>
                <li>Genre: <%=movie_result[i].genre%></li>
                <li>Year: <%=movie_result[i].year%></li>
                <li>Language: <%=movie_result[i].language%></li>
                <li>Length: <%=movie_result[i].length%>mins</li>
                <li>IMDB: <a href="<%=movie_result[i].IMDB_link%>"><%=movie_result[i].IMDB_link%></a></li></div><br></br>
                <% } %>
            </div>
        </div>
    </div>