<%= include ../header.ejs %>
<%= include index-marquee-top.ejs %>
<%= include index-marquee-middle.ejs %>
<%= include index-marquee-bottom.ejs %>



<% if (user !== undefined) {  %>
<div class="icon-section">
<% if (user.is_admin) { %>
    <span><a href="/"><img src="img/icon/icon-admin.png"></a></span>
<% } %>
<span><a href="/"><img src="img/icon/icon-movie.png"></a></span>
<span><a href="/"><img src="img/icon/icon-ranking.png"></a></span>
<span><a href="/"><img src="img/icon/icon-trailer.png"></a></span>
<span><a href="/profile"><img src="img/icon/icon-profile.png"></a></span>
<span><a href="/"><img src="img/icon/icon-contact.png"></a></span>
</div>
<% } %> 

<% if ((movie_search_result !== null) && (typeof movie_search_result !== 'undefined')) { %>
    <h>hey</h>
    <h style="color:blue"> <%= movie_search_result[0].title %></h>
<% } %>

<% if (movie_search_result === null) { %>
    <div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Sorry! No Such Movie Result!</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    You Can Try to Search by Other Keywords!
                </h3>
                <p>
                    You may enter the wrong words.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Some Recommended Movie Here:
                </h3>
                <p>
                    Coming soon...
                </p><br></br><br></br><br></br><br></br><br></br>
            </div>
        </div>
    </div>
</div>
    
<% } else if(movie_search_result !== undefined){ %> 
<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Movie Lists Found</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive Layouts
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Plays Nice
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>

    <div class="content">
      <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>
      <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
            <h4>Contact Us</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>

            <h4>More Information</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</div><% } %>


<%= include ../footer.ejs %>
