<% if(movie_result.length < 2){ %>
<script>
//Automatically scroll to bottom
$(function () {
   $("html, body").animate({ scrollTop:  $(document).height()-$(window).height() }, 1800);
   return false; 
});
</script> <% } else{ %>   
<script>
//Automatically scroll to bottom
$(function () {
   $("html, body").animate({ scrollTop:  $(document).height()-800 }, 1800);
   return false; 
});
</script> <% } %>
<div class="content-wrapper">
	<div class="content">
		<h2 class="content-head is-center">Search Result</h2>
        
      <% for (j = 0; j < movie_result.length; j+=5) { %>
        <div class="pure-g">
          <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
            <% for (i = j; i < j+5 && i<movie_result.length; i++) { %>
              <div class="div-inline" style="width:170px">
                <img src="<%= movie_result[i].poster_link %>" height=167 style="margin-left: 7%">
                <h3 class="content-subhead" style="font-size:16px; text-aligh: center">
                  <h style="color: black; margin-left: 5%;"><%= i+1 %>.</h>
                  <h style="text-align: center"><%= movie_result[i].title  %></h>
                </h3>
            
                <li class="stars" fen="<%= movie_result[i].IMDB_rating %>" style="margin-left: -5%">
                </li>

                &nbsp

                <h style="color: red; font-size:17px ">
                  <%=movie_result[i].IMDB_rating %>
                </h>

                <script>
                  $.fn.stars = function() {
                      return $(this).each(function() {
                        // Get the value
                        var val = parseFloat($(this).attr('fen'));
                        // Make sure that the value is in 0 - 5 range, multiply to get width
                        var size = Math.max(0, (Math.min(10, val))) * 14;
                        // Create stars holder
                        var $li = $('<li />').width(size);
                        // Replace the numerical value with stars
                        $(this).html($li);
                      });
                  }


                  $('.stars').stars();
                </script>

              <li>Genre: <%=movie_result[i].genre%></li>
              <li>Year: <%=movie_result[i].year%></li>
              <li>Language: <%=movie_result[i].language%></li>
              <li>Length: <%=movie_result[i].length%>mins</li>
              <li>IMDB_link: <a href="<%=movie_result[i].IMDB_link%>"><img src="img/icon/IMDB_icon.png" width = 40 height = 40 style="margin-bottom: -6%"></a></li>
              <% if(movie_result[i].showing_status == "on show"){ %>
              <button class="pure-button pure-button-primary book-ticket" id="<%=movie_result[i].movie_id%>" style="width: 100; margin: 3% 0 0 8%; text-align:center; font-size: 10px">Book Now!</button>
              <% }%>
            </div>
          <% } %>   
        </div></div> 
      <% } %>
			</div>
		</div>