<%= include index-header.ejs %>
<div class="content-wrapper-form">
    <div class="content">
        <p class="profile-form-header">Hey <%= user.name + '!!!' %></p>
        <form action="/user/profile" method="POST" class="pure-form pure-form-single">
            <fieldset>

            <div class='profile-display'>
            	<br></br>

            	<li><h>User Name: </h><% 
               	if (user.name === null) { 
            		%><% 
        		} else {
           			%><%= user.name %><%
        		} %></li>

        		<li><h>Contact: </h><% 
               	if (user.contact === null) { 
            		%><% 
        		} else {
           			%><%= user.contact %><%
        		} %></li>

        		<li><h>Date of Birth: </h><% 
               	if (user.DOB === null) { 
            		%><% 
        		} else {
           			%><%= user.DOB %><%
        		} %></li>
        	</div><br></br>

        	<button type="submit" class="pure-button pure-button-primary"><a href="/profile/edit" style="text-decoration : none; color : #000000;">Edit Profile</a></button>
                
            </fieldset>
        </form>

    </div>
</div>
<%= include index-footer.ejs %>