<%= include index-header.ejs %>
<div class="content-wrapper-form">
  <div class="content">
    <form action="/profile/edit" method="POST" class="pure-form pure-form-single" id="profile-edit">
      <fieldset>
        <div class="profile-edit-display">
         <br></br>
         <p class="profile-form-header">Hey <%= user.name + '!!!' %></p>
         <% 
         if (user.contact === null) { 
          %><input class="profile-edit-input" name="contact" type="text" placeholder="User Contact"><% 
        } else {
          %><input class="profile-edit-input" name="contact" type="text" placeholder=<%=user.contact%> value=<%=user.contact%>><%
        }%>
        
        <% 
        if (user.DOB === null) { 
          %>
          <script>
            $(function() {
              
              $("#datepicker").datetimepicker({timepicker: false, format: 'Y-m-d'});
            });
          </script>

          <input name="dob" type="text" id="datepicker" placeholder="User Birthday">

          <%
        } else {
          %><input name="dob" type="text" id="datepicker" placeholder=<%=user.DOB%>><%
        } %>
        <input name="email" type="hidden" value=<%=user.email%>>
      </div><br></br>
      
      <button type="submit" class="pure-button pure-button-primary" style="text-decoration : none; color : #000000;">Edit Profile</a></button>
      
    </fieldset>
  </form>

</div>
</div>
<%= include index-footer.ejs %>
